<div class="project-item" data-id="<%= project.id %>">
  <%= render 'project_header', project: project %>
  <%= render 'tasks/form', project: project %>
  <ul>
    <%= render project.tasks if project.tasks %>
  </ul>
</div>