<div class="project-header">

  <%= link_to project.name, edit_project_path(project), remote: :true, class: "project-title" %>

<!-- 
  <%= link_to "Remove", project, method: :delete, remote: :true %>
   -->
</div>