<div class="projects-list">
  <%= render @projects %>
</div>


  <%= link_to new_project_path, remote: :true , id: "add-project" do%>
    <div class="create-list">
      <span>Create new list</span>
    </div>
  <% end %>