*{box-sizing: border-box}
@font-face {
  font-family: 'Intro';    
  src: font-url('intro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body{
  font-family: Consolas;
}

ul{
  margin: 0;
  padding: 0;
}

.hidev{
  visibility: none;
}

.hide{
  display: none;
}

.notvis{
  position: absolute; 
  left: -9999px; 
  width: 1px; 
  height: 1px;
}
.notvis1{
  position: absolute; 
  left: -9599px; 
  width: 1px; 
  height: 1px;
}

.wrapper{
  margin: 0 auto;
}
.logout, .email{
  font-family: Intro, sans-serif;
  font-size: 1.5vw;
  color: #ddd;
  padding: 4vw 0;
  padding-right: .5vw;
}
.logout:hover{
    color: black;
  }