*{box-sizing: border-box}
@font-face {
  font-family: 'Intro';    
  src: font-url('intro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body{
  font-family: Consolas;
}

ul{
  margin: 0;
  padding: 0;
}

.hidev{
  visibility: none;
}

.hide{
  display: none;
}

.notvis{
  position: absolute; 
  left: -9999px; 
  width: 1px; 
  height: 1px;
}
.notvis1{
  position: absolute; 
  left: -9599px; 
  width: 1px; 
  height: 1px;
}