// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  margin: 0 8%;
  width: 70vw;
}
/* .project-item:nth-child(2n){
  border-color: #f1ea1d;
  margin-left: 4vw;
  .create-project-form .field input{
    color: #f1ea1d;
  }
}
.project-item:nth-child(3n){
  border-color: #ee2ae2;
  .create-project-form .field input{
    color: #ee2ae2;
  }
} */
.project-item{
  margin: 7vw 0;
  position:relative;
  padding-right: 5vw;
  .project-container{
    border: 10px #2175e7 solid;
    padding-bottom: 2vw;
    min-height: 13vw;
    .project-delete{
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 5vw;
      height: 5vw;
      &:after, &:before{
        content: "";
        display: block;
        position: absolute;
        background-color: #f2f2f2;
        left: 3vw;
        width: 0.8vw;
        height: 4vw;
        transform: rotateZ(45deg);
        transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
      }
      &:before{
        transform: rotateZ(45deg);
      }
      &:hover:after{
        transform: rotateZ(-45deg);
        background-color: rgb(255, 82, 131);
      }
      &:hover:before{
        background-color: rgb(255, 82, 131);
      }
    }
  }
}

.create-project-form{
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 58vw;
  top: 10px;
  .field input{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    outline: none;
    display: block;
    font-family: Intro, sans-serif;
    font-size: 4.6vw;
    letter-spacing: .5vw;
    color: #2175e7;
    margin-left: 3vw;
    line-height: 3vw;
    margin-top: 3.8vw;
    margin-bottom: 1.75vw;
    width: 53.5vw;
  }
}

.create-list{
  position: fixed;
  width: 20vh;
  height: 100%;
  border-left: 10px #f2f2f2 solid;
  top: 0;
  right: 0;
  transition: all .2s;
  &:hover{
    border-left-color: #eee;
  }
  &:hover span{
    color: #ddd;
  }

  span{
    font-family: Intro, sans-serif;
    display: block;
    position: relative;
    transform: rotate(90deg);
    font-size: 7.6vh;
    top: 12vh;
    right: 1vh;
    white-space: nowrap;
    letter-spacing: 10px;
    color: #e6e6e6;
    text-decoration: none;
    transition: all .2s;
  }
}
